body {
    font-family: sans-serif;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    cursor: pointer;
    transition: 0.3s;
}

.card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.card-wrapper h1 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.3s;
}

.card-wrapper h2 {
   font-size: 0;
   visibility: hidden;
   opacity: 0;
   font-weight: bold;
   text-transform: uppercase;
   transition: 0.3s;
}

.card:hover > .card-wrapper h2 {
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}